* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Bahnschrift-Font";
    src: url("../fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF") format("truetype");
}


/* Header */

header {
    background-image: url("../assets/images/mujer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 58em;
    padding-top: 2em;
}

.ul-menu {
    display: flex;
    justify-content: center;
}

#ul-menu li+li:before {
    content: " | ";
    padding: 0 5px;
}



nav ul li {
    text-decoration: none;
    list-style: none;
    color: black;
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px;
}



nav ul li a {


    font-family: Bahnschrift-Font;
    color: #5B6977;
    color: black;

    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 0.071em;
    font-stretch: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.5;


}

.hamburguer{
    background-color: transparent;
    display: none;
    border: 0;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}

.hamburguer:focus{
    outline: none;
}

nav{
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slide-down{
    margin-top: 48em;
    display: flex;
    justify-content: center;
}
/* Fin Header */

/* Whatsapp */
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #8d8741;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

.whatsapp-static {
    font-size: 1em;
    color: #8d8741;
    margin-right: .5em;
}

.whatsapp:hover{
    color: #FFF;
    transform: scale(1.05);
    transition: all .5s;
}

/*Fin Whatsapp */

/* Servicios */

.cards-container {
    display: grid;

    /* Definir filas de la grilla + cuanto mide cada fila con unidades de medida */
    /* Cuando se repiten valores podemos usar la funcion repeat () */
    /* grid-template-rows: 150px 150px 150px ; */
    /* grid-template-rows: repeat(1, fr); */
    grid-template-columns: repeat(auto-fit, minmax(10em,1fr)); 

    /* grid-template-columns: repeat(3, 15em);  */

    gap: 20px;
    justify-content: center;

    /* Definir filas de la grilla + cuanto mide cada fila con unidades de medida */
    /* grid-template-columns: 150px 200px 1fr 1fr; */
    /* Para que se acomoden las filas y columnas podemos usar unidades relativas o fracciones fr*/

    /* Margin entre celdas */
    margin-bottom: 3em;
    padding: 20px;
    
}

.card {
    /* display:flex;
    justify-content: center; */
    /* background-image: url("../assets/images/pingpong.jpg");
    background-size: cover; */
    /* display: flex;
    flex-wrap: wrap; */
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}


.card div img,
.card img,
.card div img {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* height: 9em; */
    width: 100%;
    object-fit: fill;

}

.card-text {
    margin-top: 10px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.cards-container a {
    text-decoration: none;
    color: #5B6977;

}

.cards-container a:hover {
    color: #5B6977;
}

.card:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transition: all .5s;
}


/* Fin Servicios */

/* Galeria */
.galeria-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px,1fr)); 

    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 150px; */
    gap: 10px;
    justify-content: center;
    margin-bottom: 1em;
    } 

.photo-container div img{
   
    width: 100%;
    height: 9em;
    object-fit: cover;
    

}

.photo-container:hover {
    transform: scale(1.05);
    transition: all .5s;

    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
}



/* Fin Galeria */


.mid-text {

    display: flex;
    justify-content: center;
}

/* Mapa */
.container-socialmedia {
    margin-top: 40px;

}

.container-contacto {
    margin-top: 2em;
}

.container-map {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.container-button {
    display: flex;
    justify-content: center;

}

/* Fin Mapa */

/* Footer */

footer {
    background-color: #a5bd99;
    /* background-color:rgb(var(--color_15)); */
    /* background-color: #f6f5eb; */
    margin-top: 40px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

.container-footer-all {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: #f6f5eb;


}

.container-footer-body {
    display: flex;
    justify-content: center;

}


.col2 {
    margin-left: 250px;
}

.col3 {
    margin-left: 250px;
}



.container-footer-menu ul li {
    list-style: none;

}

.container-footer-menu ul li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: large;
    letter-spacing: 0.071em;
    text-decoration: none;
    color: #f6f5eb;
}

ul li a:hover,
.whatsapp-icon:hover {
    /* color: #8d8741; */
    font-weight: 900;


}

/*
.container-end-footer{
    margin-top: 25px;
    display: flex;
    justify-content: center;
} */
.creacion {
    margin-top: 1.2em;
    display: flex;
    justify-content: center;
}

.linkedin-github {

    display: flex;
    justify-content: center;
}

.copyright {
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

/* Fin Footer */

/* Main */
main {
    font-family: Bahnschrift-Font;
    color: #5B6977;
    font-size: 1.8rem;
    font-weight: 200;
    font-stretch: normal;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    line-height: 1.5;

}

.encabezado {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

/* Main */

/* Formulario */
.contact-form {
    margin-top: 2em;
    max-width: 50em;
    display: flex;
    justify-content: center;

}

.container-form {
    display: flex;
    justify-content: center;
}


.container-contact-form {
    display: flex;
    flex-wrap: wrap;
    width: 40em;
}

label {

    display: flex;
    justify-content: center;
    text-transform: uppercase;
}



.contact-name,
.contact-e-mail,
.contact-surname,
.contact-confirmation,
.select-container,
.contact-telefono,
.container-consulta {


    width: 100%;


}



.contact-name,
.contact-e-mail,
.contact {
    margin-right: 2em;
}

.contact-flex-contact-flex--id {
    display: flex;
    /* flex-direction: row; */
    margin-bottom: 45px;
    /* justify-content: center; */
    width: 100%;
    justify-content: space-around;

}

.container-consulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-botones {
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;

}

.btn-outline-secondary {
    margin-right: 20px;
}



/*Fin Formulario */

@media only screen and (max-width: 480px){
    .ul-menu{
        display: none;
        flex-direction: column;
        font-size: .65rem;
        font-weight: 200;
    }
    #ul-menu li+li:before {
        content:none;
      
    }

    .ul-menu.show{
        display: flex;
        
    }

    .hamburguer{
        display: block;
    }
    .video-galeria video{
        width: 400px;
    }

    .container-footer-body{
        flex-direction: column;
    }

    .col2,.col3{
        margin-left: 0;
    }

    .container-social-media{
        display: flex;
        justify-content: center;
    }

    .container-form{
        max-width: 700px;
    }

    .contact-flex-contact-flex--id {
        max-width: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        margin-left: 400px;
        margin-bottom: 0;
    }

    .contact-name,
.contact-e-mail,
.contact-surname,
.contact-confirmation,
.select-container,
.contact-telefono,
.container-consulta {


    width: 50%;
    margin-bottom: 25px;
    margin-top: 25px;

}

.container-consulta{
    margin-left: 400px;
    width: 30%;

}
.container-botones{
    justify-content: center;
}
}


@media only screen and (min-width: 481px) and (max-width: 968px){    .ul-menu{
        display: none;
        flex-direction: column;
        font-size: .65rem;
        font-weight: 200;
    }
    #ul-menu li+li:before {
        content:none;
      
    }

    .ul-menu.show{
        display: flex;
        
    }

    .hamburguer{
        display: block;
    }
    .video-galeria video{
        width: 400px;
    }

    .container-footer-body{
        flex-direction: column;
    }

    .col2,.col3{
        margin-left: 0;
    }

    .container-social-media{
        display: flex;
        justify-content: center;
    }

    .container-form{
        max-width: 700px;
    }

    .contact-flex-contact-flex--id {
        max-width: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        margin-left: 400px;
        margin-bottom: 0;
    }

    .contact-name,
.contact-e-mail,
.contact-surname,
.contact-confirmation,
.select-container,
.contact-telefono,
.container-consulta {


    width: 70%;
    margin-bottom: 25px;
    margin-top: 25px;

}

.container-consulta{
    margin-left: 400px;
    width: 50%;

}
.container-botones{
    justify-content: center;
}
}