*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    text-align: center;
    margin: -40px 0;
}

#ul-menu {
    /* display:flex;
    justify-content: space-between; */
    margin-left: 29%;
}

#ul-menu li + li:before {
    content: " | ";
    padding: 0 5px   ;
}

header{
    margin-bottom: 40px;
    background-color: #f6f5eb   ; 
    align-items: center;
    padding: 30px 10%;
}

nav ul li{
    text-decoration: none;
    list-style: none;
    color: black;
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 0.071em;


}




footer{
    background-color: #f6f5eb;
    margin-top: 40px;
    height: 270px;
    padding-top: 40px;
}

.container-footer-all{
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color:black
 
}

.container-footer-body{
    display: flex;
    justify-content: center;

}


.col2{
    margin-left: 250px;
}

.col3{
    margin-left: 250px;
}



.container-footer-menu ul li {
    list-style: none;

}

.container-footer-menu ul li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 0.071em;
    text-decoration: none;
    color:black
}

ul li a:hover{
    color: #8d8741;
  
}


.container-end-footer{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.copyright {
    justify-content: center;
    display: flex;
    margin-top: 10px;
}










