<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quinta Maria Ines somos una excelente alternativa de relax y recreación para pasar en familia. 
    La opción ideal que fusiona la naturaleza del campo con servicios tales como piscina, quincho, metegol, ping pong entre otros. 
    Estamos ubicados en Pilar zona norte. ">
    <meta name="keywords" content="quinta,pilar,zona norte, maria ines, piscina, pileta, quincho, parrilla, recreo, recreación, familia, naturaleza,
                                    relax, ubicación, parque, del viso, servicios, campo, metegol, ping pong   ">
    <!-- open graph -->
    <meta property="og:title" content="Inicio - Quinta de Recreo Maria Ines">
    <meta property="og:description" content="Quinta Maria Ines somos una excelente alternativa de relax y recreación para pasar en familia. 
    La opción ideal que fusiona la naturaleza del campo con servicios tales como piscina, quincho, metegol, ping pong entre otros. 
    Estamos ubicados en Pilar zona norte.">
    <meta property="og:image" content="https://ibb.co/DCS3rns">
    <!--favicon-->
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <title> Contacto - Quinta de Recreo Maria Ines </title>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- Whatsapp-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- INICIO HEADER -->
    <header>

        <nav>
            <button class="hamburguer" id="hamburguer">
                <i class="fa fas fa-bars"></i>
            </button>
            <ul id="ul-menu" class="ul-menu">
                <li> <a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="disponibilidad.html">Disponibilidad</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="slide-down">
            <a href="#encabezado"><i class="fa fas fa-chevron-down arrow-from-top" aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- FIN HEADER -->

    <main>


        <section>
            <div class="encabezado" id="encabezado">
                <h1>CONTACTO</h1>
            </div>
            <p>
                Dejanos tu consulta y en breve te responderemos
            </p>

        </section>
        <!-- INICIO FORMULARIO -->
        <form class="contact-form" action="">
            <div class="container">

                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
                        <div class="contact-name">
                            <label class="input-name" for="name">Nombre</label>
                            <input class="form-control  form-control-lg" type="text" name="name"
                                placeholder="Ingresá tu nombre" required="">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="contact-surname">
                            <label class="input-name" for="apellido">Apellido</label>
                            <input class="form-control  form-control-lg" type="text" name="apellido"
                                placeholder="Ingresá tu apellido" required="">
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
                        <div class="contact-e-mail">
                            <label class="input-name" for="email">E-mail</label>
                            <input class="form-control  form-control-lg" type="email" name="email"
                                placeholder="Ingresá tu e-mail" required="">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="contact-confirmation">
                            <label class="input-name" for="email">Confirmar E-mail</label>
                            <input class="form-control  form-control-lg" type="email" name="email"
                                placeholder="Confirmá tu e-mail" required="">
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="contact-telefono">
                            <label class="input-name" for="telefono">Teléfono</label>
                            <input class="form-control  form-control-lg" type="tel" name="telefono"
                                placeholder="Ingresá tu teléfono">
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="select-container">
                            <label class="input-name" for="asunto">Cantidad de Personas</label>
                            <select id="disabledSelect" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option selected>Seleccioná la cantidad</option>
                                <option value="quince-personas">Menos de 15</option>
                                <option value="mas-de-quince">Mas de 15 y menos que 30</option>
                                <option value="mas-de-treinta">Mas de 30</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                        <div class="container-consulta">
                            <label class="input-name" for="consulta">Consulta</label>
                            <textarea class="form-control  form-control-lg" name="consulta" id="" cols="30" rows="7"
                                maxlength="1000" placeholder="Ingresá tu consulta"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="container-botones">
                            <button type="submit" class="btn btn-outline-secondary btn-lg m-2">Enviar</button>
                            <button type="reset" class="btn btn-outline-secondary btn-lg m-2">Limpiar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <section>
            <div class="container-socialmedia">
                <h2>Tambien podes contactarnos a traves de nuestras redes sociales</h2>
                <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20de%20la%20quinta"
                    class="whatsapp-static" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8d8741" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="16" height="16" rx="4" />
                        <circle cx="12" cy="12" r="3" />
                        <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                    </svg></a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"
                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8d8741" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                    </svg>
                </a>
            </div>
        </section>
        <section class="contacto">
            <div class="container-contacto">
                <div class="container-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.7782824526453!2d-58.7803717842613!3d-34.432386555960896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9f2196a40e21%3A0x195ac6baca986c2a!2sJuan%20Bautista%20Ambrosetti%203141%2C%20B1635ATE%20Manuel%20Alberti%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1639102600001!5m2!1ses!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="container-button">
                    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Contáctenos</a>
                </div>
            </div>
        </section>
    </main>


    <!-- Inicio Footer -->
    <footer>
        <div class="container-footer-all">
            <div class="container-footer-body">

                <div class="col1">
                    <div class="container-footer-menu">
                        <ul>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="servicios.html">Servicios</a></li>
                            <li><a href="disponibilidad.html">Disponibilidad</a></li>
                            <li><a href="contacto.html">Contacto</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col2">
                    <div class="container-footer-menu">
                        <ul>
                            <li><a href="#">Terminos y Condiciones</a></li>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Política de cookies</a></li>
                            <li><a href="#">Condiciones de contratación</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col3">
                    <div class="container-social-media">
                        <p> Nuestras Redes</p>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                                width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8d8741"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <rect x="4" y="4" width="16" height="16" rx="4" />
                                <circle cx="12" cy="12" r="3" />
                                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                            </svg></a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"
                                width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8d8741"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-end-footer">
                <div class="creacion">
                    <p>Creado por Javier </p>

                </div>
                <div class="linkedin-github">

                    <a href="https://www.linkedin.com/in/javiersantillan1/">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                            width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8d8741" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="4" y="4" width="16" height="16" rx="2" />
                            <line x1="8" y1="11" x2="8" y2="16" />
                            <line x1="8" y1="8" x2="8" y2="8.01" />
                            <line x1="12" y1="16" x2="12" y2="11" />
                            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                        </svg>
                    </a>
                    <a href="https://github.com/jisantillan">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github"
                            width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8d8741" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                        </svg>
                    </a>
                </div>

                <div class="copyright">
                    <p>© 2021 Quinta Maria Ines. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fin Footer -->
    <script src="../js/menu.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>