<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quinta de Recreo - Disponibilidad</title>    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap" rel="stylesheet"> 
   
</head>

<body>
    <header>
        <nav class="menu">
            <ul class="lista">
                <li> <a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="disponibilidad.html">Disponibilidad</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <img src="../assets/images/piscina.jpg" alt="piscina" height="300">
    </section>
    <main>
        <section>
            <h1>DISPONIBILIDAD</h1>
        </section>

        <section>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae exercitationem <br>
                dolores quibusdam accusantium hic ea, dolorem impedit consequatur modi sapiente dolor <br>
                suscipit ullam voluptates veritatis doloribus optio eaque facere commodi. <br>
            </p>
            <div>
                <p>
                    Tabla
                </p>
            </div>
        </section>
    </main>
    <section>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.7782824526453!2d-58.7803717842613!3d-34.432386555960896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9f2196a40e21%3A0x195ac6baca986c2a!2sJuan%20Bautista%20Ambrosetti%203141%2C%20B1635ATE%20Manuel%20Alberti%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1639102600001!5m2!1ses!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>

    <footer>
        <span>Creado por Javier</span>
        <nav>
            <ul>
                <li><a href="https://www.linkedin.com/in/javiersantillan1/">Linkedin</a></li>
                <li><a href="https://github.com/jisantillan">GitHub</a></li>
            </ul>
        </nav>
        <nav>
            <!-- Social Media -->
        </nav>
    </footer>
</body>

</html>