<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quinta Maria Ines somos una excelente alternativa de relax y recreación para pasar en familia. 
    La opción ideal que fusiona la naturaleza del campo con servicios tales como piscina, quincho, metegol, ping pong entre otros. 
    Estamos ubicados en Pilar zona norte. ">
    <meta name="keywords" content="quinta,pilar,zona norte, maria ines, piscina, pileta, quincho, parrilla, recreo, recreación, familia, naturaleza,
                                    relax, ubicación, parque, del viso, servicios, campo, metegol, ping pong   ">
    <!-- open graph -->
    <meta property="og:title" content="Inicio - Quinta de Recreo Maria Ines">
    <meta property="og:description" content="Quinta Maria Ines somos una excelente alternativa de relax y recreación para pasar en familia. 
    La opción ideal que fusiona la naturaleza del campo con servicios tales como piscina, quincho, metegol, ping pong entre otros. 
    Estamos ubicados en Pilar zona norte.">
    <meta property="og:image" content="https://ibb.co/DCS3rns">
    <!--favicon-->
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <title> Servicios - Quinta de Recreo Maria Ines </title>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- Whatsapp-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- aos -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- Inicio Header -->
    <header>
        <nav>
            <button class="hamburguer" id="hamburguer">
                <i class="fa fas fa-bars"></i>
            </button>
            <ul id="ul-menu" class="ul-menu">
                <li> <a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="disponibilidad.html">Disponibilidad</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="slide-down">
            <a href="#carousel"><i class="fa fas fa-chevron-down arrow-from-top" aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- Fin Header -->

    <main>
        <section id="carousel">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <img src="../assets/images/piscinaCarousel.jpg" class="d-block w-100"
                                        alt="mujer en piscina">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Ambiente Relajado</h5>
                                        <p>Nos encontramos ubicados en un lugar tranquilo, ideal para conectar con la
                                            naturaleza.</p>
                                    </div>
                                </div>
                                <div class="carousel-item ">
                                    <img src="../assets/images/piletaCarousel.jpeg" class="d-block w-100" alt="pileta">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Piscina</h5>
                                        <p>Contamos con piscina climatizada.</p>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="../assets/images/pingpongCarousel.jpg" class="d-block w-100"
                                        alt="ping Pong">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Juegos</h5>
                                        <p>Contamos con distintos juegos como ping pong metegol y mini-futbol.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container aos-init aos-animate" data-aos="fade-up">
            <div class="container">
                <div class="row m-5">
                    <div class="col-sm-12 col-md-7 col-lg-6 ">
                        <h3>Parrilla</h3>
                        Contamos con dos generosas parrillas para poder utilizar durante la estadia en la quinta.
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-6 mt-3">
                        <div class="card bg-gradient text-white border-0" id="card-service">
                            <img src="../assets/images/parrilla.jpg" class="rounded-3" alt="parrilla" height="350">
                        </div>
                    </div>
                </div>
                <div class="row m-5">
                    <div class="col-sm-12 col-md-5 col-lg-6 mt-3 order-xs-2 order-sm-2 order-md-1 order-lg-1" id="cat1">
                        <div class="card bg-gradient text-white border-0 " id="card-service2">
                            <img src="../assets/images/catering.jpeg" class="rounded-3" alt="catering" height="500">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 col-lg-6 order-xs-1 order-sm-1 order-md-2 order-lg-2" id="cat2">
                        <h3>Servicio de Catering</h3>
                        Servicio de lunch, pizza party, fosforitos, sándwiches de miga, empanadas, medialunas con jamón y queso, picadas.
                    </div>
                </div>

                <div class="row m-5">
                    <div class="col-sm-12 col-md-7 col-lg-6  item mb-3">
                        <h3>Quincho</h3>
                        Contamos con quincho con mesas y sillas para utilizar en la estadia.
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-6 border-0  item mb-3">
                        <div class="card m-2 bg-gradient text-white" id="card-service3">
                            <img src="../assets/images/quincho.jpeg" class="rounded-3" alt="quincho" height="400">
                        </div>
                    </div>
                </div>
                <div class="enbezado-container" id="encabezado-container">
                    <section class="container aos-init aos-animate" data-aos="fade-up">
                        <div class="encabezado" id="encabezado">
                            <h1>OTROS SERVICIOS</h1>
                        </div>    
                    </section>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <img src="/assets/images/futbol.png" alt="futbol" height="350" width="90%">
                        <p>Contamos con metegol.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <img  src="/assets/images/wifi.png" alt="wifi icono" height="350" width="90%">
                        <p>Contamos con Wi-Fi gratuito.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <img  src="/assets/images/pingpong-icon.png" alt="ping pong" height="350" width="90%">
                        <p>Contamos con mesa de ping pong.</p>

                    </div>
                </div>

                <div class="row ">
                    <div class="col-sm-12- col-md-12 col-lg-12">
                        <div class="encabezado" id="encabezado">
                            <h1>UBICACIÓN</h1>
                        </div>
                        <p>
                            Nos encontramos en Pilar provincia de Buenos Aires en una excelente ubicación a una
                            cuadra
                            de la ruta 26
                        </p>
                    </div>
                </div>
            </div>
           
        </section>
        <section id="mapa">
            <div class="container-contacto">
                <div class="container-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.7782824526453!2d-58.7803717842613!3d-34.432386555960896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9f2196a40e21%3A0x195ac6baca986c2a!2sJuan%20Bautista%20Ambrosetti%203141%2C%20B1635ATE%20Manuel%20Alberti%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1639102600001!5m2!1ses!2sar"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </section>
    </main>


    <!-- Inicio Footer -->
    <footer>
        <div class="container-footer-all">
            <div class="container-footer-body">
                <div class="row m-1">
                    <div class=" col-sm-6 col-md-4 col-lg-4 ">
                        <div class="container-footer-menu">
                            <ul>
                                <li><a href="galeria.html">Galeria</a></li>
                                <li><a href="servicios.html">Servicios</a></li>
                                <li><a href="disponibilidad.html">Disponibilidad</a></li>
                                <li><a href="contacto.html">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-sm-6 col-md-4 col-lg-4  ">
                        <div class="container-footer-menu">
                            <ul>
                                <li><a href="404nf.html">Terminos y Condiciones</a></li>
                                <li><a href="404nf.html">Política de privacidad</a></li>
                                <li><a href="404nf.html">Política de cookies</a></li>
                                <li><a href="404nf.html">Condiciones de contratación</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-sm-12 col-md-4 col-lg-4 ">
                        <div class="container-footer-menu">
                            <ul class="ul-footer">
                                <li>
                                    <h5> Nuestras Redes</h2>
                                </li>
                                <li>
                                    <div class="wrapper">
                                        <div class="icon facebook">
                                            <div class="tooltip">Facebook</div>
                                            <span><i class=" fa fas fa-facebook-f"></i></span>
                                        </div>
                                        <div class="icon wsp" id="icon whatsapp">
                                            <div class="tooltip">Whatsapp</div>
                                            <span><i class="fa fa-whatsapp" aria-hidden="true"> </i></span>
                                        </div>
                                        <div class="icon instagram">
                                            <div class="tooltip">Instagram</div>
                                            <span><i class="fa fas fa-instagram"></i></span>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-end-footer">
                <div class="creacion">
                    <p>Creado por Javier </p>
                </div>
                <div class="linkedin-github">
                    <a href="https://www.linkedin.com/in/javiersantillan1/">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                            width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8d8741" fill="none"
                            stroke-linecap="round" stroke-linejoin="round" id="linkedin">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="4" y="4" width="16" height="16" rx="2" />
                            <line x1="8" y1="11" x2="8" y2="16" />
                            <line x1="8" y1="8" x2="8" y2="8.01" />
                            <line x1="12" y1="16" x2="12" y2="11" />
                            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                        </svg>
                    </a>
                    <a href="https://github.com/jisantillan">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github"
                            width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8d8741" fill="none"
                            stroke-linecap="round" stroke-linejoin="round" id="github">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                        </svg>
                    </a>
                </div>
                <div class="copyright">
                    <p>© 2022 Quinta Maria Ines. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fin Footer -->
    <script src="../js/menu.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>