@use '../core/variables.scss' as *;

footer {
    background-color: nth($colores, 3);
    /* background-color:rgb(var(--color_15)); */
    /* background-color: #f6f5eb; */
    padding-top: 40px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

.container-footer-all {
    width: 100%;
    @include texto ($footer-font, nth($colores, 4), large, 400, normal, normal, none, none, 1.5);
}

.container-footer-body {
    // @include flex (row, wrap, center);

    @include for_breakpoint(mobile tablet) {
        @include flex (row, wrap, center);
       
    }
}

.container-footer-menu{
    @include flex (row, wrap, center);
    @include for_breakpoint(mobile tablet) {
        @include flex (row, wrap, center);
       
    }


}



.container-footer-menu ul li {
    list-style: none;
}

.container-footer-menu ul li a {
    letter-spacing: 0.071em;
    @include texto (Source Sans Pro, nth($colores, 4), large, 400, normal, center, none, none, 1.5);
    &:hover {
        color: #8d8741;
    }
}

.creacion {
    margin-top: 1.2em;
    @include flex (row, nowrap, center);
}

.linkedin-github {
    @include flex (row, nowrap, center);
}

.container-social-media {
    margin-top: 40px;
    @include for_breakpoint(mobile tablet) {
        @include flex (row, nowrap, center);
        padding-right: 1em;
    }

}
.copyright {
    @include flex (row, nowrap, center);
    margin-top: 10px;
    @include for_breakpoint(mobile tablet) {
        @include flex (row, nowrap, center);
        padding-left: 3em;
    }
  
}


.wrapper {
	display: inline-flex;
  }
  
  .wrapper .icon {
	position: relative;
	background-color: #8d8741;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	background-color: #333333;
	color: #333333;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	background-color: #8d8741;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
	background-color: #3b5999;
	color: #ffffff;
  }
  
  
 
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
	background-color: #e1306c;
	color: #ffffff;
  }